<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Hostel Booking System</display-name>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Only keeping servlets that don't have @WebServlet annotations -->
    <servlet>
        <servlet-name>BookingListServlet</servlet-name>
        <servlet-class>com.hostel.servlets.BookingListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingListServlet</servlet-name>
        <url-pattern>/bookingList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyBookingsServlet</servlet-name>
        <servlet-class>com.hostel.servlets.MyBookingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyBookingsServlet</servlet-name>
        <url-pattern>/myBookings</url-pattern>
    </servlet-mapping>

</web-app>
